@tailwind components;
@tailwind utilities;

@layer components {
    .all-\[unset\] {
        all: unset;
    }
}

:root {
    --app-primary: rgba(45, 207, 87, 1);
    --button-font-family: "Anek Telugu", Helvetica;
    --button-font-size: 24px;
    --button-font-style: normal;
    --button-font-weight: 600;
    --button-letter-spacing: 0.48px;
    --button-line-height: normal;
    --green-dark: rgba(40, 84, 48, 1);
    --green-lite: rgba(244, 255, 243, 1);
    --h-2-font-family: "Anek Telugu", Helvetica;
    --h-2-font-size: 32px;
    --h-2-font-style: normal;
    --h-2-font-weight: 600;
    --h-2-letter-spacing: 0.64px;
    --h-2-line-height: normal;
    --paragraph-font-family: "Anek Telugu", Helvetica;
    --paragraph-font-size: 16px;
    --paragraph-font-style: normal;
    --paragraph-font-weight: 400;
    --paragraph-letter-spacing: 0.32px;
    --paragraph-line-height: normal;
    --secendery: rgba(36, 36, 36, 1);
    --terciary: rgba(228, 244, 232, 1);
    --text: rgba(90, 90, 90, 1);
    --white: rgba(255, 255, 255, 1);
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 0 0% 100%;
        --foreground: 222.2 47.4% 11.2%;

        --muted: 210 40% 96.1%;
        --muted-foreground: 215.4 16.3% 46.9%;

        --popover: 0 0% 100%;
        --popover-foreground: 222.2 47.4% 11.2%;

        --border: 214.3 31.8% 91.4%;
        --input: 214.3 31.8% 91.4%;

        --card: transparent;
        --card-foreground: 222.2 47.4% 11.2%;

        --primary: 222.2 47.4% 11.2%;
        --primary-foreground: 210 40% 98%;

        --secondary: 210 40% 96.1%;
        --secondary-foreground: 222.2 47.4% 11.2%;

        --accent: 210 40% 96.1%;
        --accent-foreground: 222.2 47.4% 11.2%;

        --destructive: 0 100% 50%;
        --destructive-foreground: 210 40% 98%;

        --ring: 215 20.2% 65.1%;

        --radius: 0.5rem;
    }

    .dark {
        --background: 224 71% 4%;
        --foreground: 213 31% 91%;

        --muted: 223 47% 11%;
        --muted-foreground: 215.4 16.3% 56.9%;

        --accent: 216 34% 17%;
        --accent-foreground: 210 40% 98%;

        --popover: 224 71% 4%;
        --popover-foreground: 215 20.2% 65.1%;

        --border: 216 34% 17%;
        --input: 216 34% 17%;

        --card: transparent;
        --card-foreground: 213 31% 91%;

        --primary: 210 40% 98%;
        --primary-foreground: 222.2 47.4% 1.2%;

        --secondary: 222.2 47.4% 11.2%;
        --secondary-foreground: 210 40% 98%;

        --destructive: 0 63% 31%;
        --destructive-foreground: 210 40% 98%;

        --ring: 216 34% 17%;

        --radius: 0.5rem;
    }
}

@layer base {
    * {
        @apply border-border;
    }

    body {
        @apply bg-background text-foreground;
        font-feature-settings: "rlig" 1, "calt" 1;
    }
}